html,
body {
    height: 100%;
    background-image:
    url('http://cdn3.crunchify.com/wp-content/uploads/2013/03/Crunchify.bg_.300.png');
}

#content {
    min-height: 100%;
    height: auto;
    margin: 50px auto -60px;
    padding: 0 0 60px;
}

#footer {
    background: #7e7e7e;
    color: #dbdbdb;
    font-size: 11px;
    width: 100%;
    height: 60px;
    text-align: center;
}

#content .container {
    padding: 20px;
}

.dialog-confirm {
    display: none;
}